.happy-buildings-layout {
    min-width: 450px;
}

.demo-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    flex-shrink: 0;
}

.demo-main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.demo-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    border-radius: 2px;
    padding: 20px 56px;
    margin-bottom: 80px;

}

.happy-buildings-layout.is-small-screen .demo-content {
    padding: 40px 28px;
    min-width: 500px;
}

.demo-content h3 {
    margin-top: 48px;
}

.demo-footer {
    padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.home-login-button-container {
    text-align: center;
}

.home-login-button-container button {
    width: 50%;
    max-width: 200px;
}

.h-field-container div {
    display: block;
    width: 100%;
}

.h-cursor-pointer {
    cursor: pointer;
}

.h-align-right {
    text-align: right;
}

.h-padding { padding: 20px; }
.h-padding-left { padding-left: 20px; }
.h-padding-right { padding-right: 20px; }
.h-padding-top { padding-top: 20px; }
.h-padding-bottom { padding-bottom: 20px; }

.h-margin {
    margin: 10px;
}

.h-full-width {
    width: 100%;
}

.wrap {
    white-space: normal;
}
.breadcrumb-container {
    margin: -10px 0 20px 0;
}
.h-center {
    text-align: center !important;
}

.login .loading-bar {
    width: 100%;
    margin: 20px 0;
}

.login .form-error {
    color: red;
    text-align: center;
    padding: 20px;
}

.comment-text {
    margin: 10px;
}

.comment-box {
    border-bottom: 1px solid #ccc;
    margin: 10px;
}
.comment-textarea {
    margin: 10px !important;
    width: 100% !important;
}
.comment-button-container {
    text-align: right;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.map-container {
    width: 100%;
    height: 500px;
}