<h1>Building {{ $ctrl.building.ID }}</h1>
<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> >
    <a ui-sref="buildings.directory">Building directory</a> >
    <a ui-sref="buildings.view({buildingId: $ctrl.building.ID})">Building {{ $ctrl.building.ID }}</a>
</div>
<div class="building-info">
    <h4>Building info:</h4>
    <p>Owner: {{ $ctrl.building.Owner }}</p>
    <p>Address: {{ $ctrl.building.Address }}</p>
    <div class="map-container">
        <iframe src="{{ $ctrl.mapAddress }}"></iframe>
    </div>

    <div class="h-align-right h-padding-top">
        <button ng-if="$ctrl.hasBuildingWriteAccess" ui-sref="buildings.edit({buildingId: $ctrl.building.ID })" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Edit Building
        </button>
    </div>
</div>
<div class="project-table">
    <h4>Associated projects:</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp h-full-width">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>End Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="$project in $ctrl.projects | orderBy:'+EndDate'">
            <td>{{ $project.ProjectID }}</td>
            <td>{{ $project.Name }}</td>
            <td>{{ $project.Status }}</td>
            <td>{{ $project.EndDate | date : 'medium' }}</td>
            <td>
                <button ui-sref="buildings.projects.view({projectId: $project.ProjectID})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    View
                </button>
            </td>
        </tr>
        <tr ng-if="!$ctrl.projects.length">
            <td colspan="5" class="h-center">
                <span>No projects found</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="h-align-right h-padding-top">
        <button ui-sref="buildings.projects.directory({ buildingId: $ctrl.building.ID })" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            View All projects
        </button>
        <button ng-if="$ctrl.canAddProject" ui-sref="buildings.projects.new({projectId: 'new', buildingId: $ctrl.building.ID})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Add project
        </button>
    </div>
</div>