<h1>Building directory</h1>
<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> >
    <a ui-sref="buildings.directory">Building directory</a>
</div>
<h6>Select the building you would like to view or modify below. Or click 'New building' to create a new building</h6>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="filter">
        <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
        <input ng-model="$ctrl.filter" class="mdl-textfield__input" type="text" id="filter">
        <label class="mdl-textfield__label" for="filter">Search building list</label>
    </div>
</div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp h-full-width">
    <thead>
        <tr>
            <th>Building ID</th>
            <th class="mdl-data-table__cell--non-numeric">Owner</th>
            <th class="mdl-data-table__cell--non-numeric">Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="$building in $ctrl.filteredBuildings()">
            <td>{{ $building.ID }}</td>
            <td class="mdl-data-table__cell--non-numeric wrap">{{ $building.Owner | limitTo: 20 }}</td>
            <td class="mdl-data-table__cell--non-numeric wrap">{{ $building.Address | limitTo: 20 }}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <button ui-sref="buildings.view({ buildingId: $building.ID })" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="h-align-right h-padding-top">
    <button ui-sref="buildings.edit({buildingId : 'new'})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        New Building
    </button>
</div>