<h1>{{$ctrl.isNew ? 'New' : 'Edit'}} Project</h1>
<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> >
    <a ui-sref="buildings.directory">Building directory</a> >
    <a ui-sref="buildings.view({ buildingId: $ctrl.project.BuildingID })">Building {{ $ctrl.project.BuildingID }}</a> >
    <a ui-sref="buildings.projects.directory({buildingId: $ctrl.project.BuildingID})">Project Directory</a> >
    <span ng-if="!$ctrl.isNew"><a ui-sref="buildings.projects.view({ projectId: $ctrl.project.ProjectID })">Project {{ $ctrl.project.ProjectID }}</a> ></span>
    <a ui-sref="buildings.projects.edit({ projectId: $ctrl.project.ProjectID })">{{$ctrl.isNew ? 'New' : 'Edit'}} Project</a>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" ng-model="$ctrl.project.Name" id="projectName">
    <label class="mdl-textfield__label" for="projectName">Name</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder h-block">
    <span class="mdl-textfield__label">Project Status</span>
    <select class="mdl-textfield__input" ng-model="$ctrl.project.Status" id="filter">
        <option value="open" id="option1">Open</option>
        <option value="ready" id="option2">Ready</option>
        <option value="closed" id="option3">Closed</option>
        <option value="problem" id="option4">Problem</option>
    </select>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <input class="mdl-textfield__input" type="date" ng-model="$ctrl.project.StartDate" id="projectStartDate">
    <label class="mdl-textfield__label" for="projectStartDate">Start Date</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <input class="mdl-textfield__input" type="date" ng-model="$ctrl.project.EndDate" id="projectEndDate">
    <label class="mdl-textfield__label" for="projectEndDate">End Date</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <input class="mdl-textfield__input" type="text" ng-model="$ctrl.project.BuildingID" id="projectBuildingID" disabled>
    <label class="mdl-textfield__label" for="projectBuildingID">Building ID</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <input class="mdl-textfield__input" type="text" ng-model="$ctrl.project.ContactPerson" id="projectContact">
    <label class="mdl-textfield__label" for="projectContact">Contact Person</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <label class="mdl-textfield__label" for="projectManager">Project Manager</label>
    <select class="mdl-textfield__input" ng-model="$ctrl.project.ProjectManager" id="projectManager">
        <option value="Unknown user">
            Unknown user
        </option>
        <option ng-repeat="$user in $ctrl.managers() track by $index" value="{{ $user.LoginName }}" ng-selected="$ctrl.building.Owner == $user.LoginName">
            {{ $user.LoginName }}
        </option>
    </select>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label h-block">
    <label class="mdl-textfield__label" for="projectContractor">Contractor</label>
    <select class="mdl-textfield__input" ng-model="$ctrl.project.Contractor" id="projectContractor">
        <option value="Unknown user">
            Unknown user
        </option>
        <option ng-repeat="$user in $ctrl.contractors() track by $index" value="{{ $user.LoginName }}" ng-selected="$ctrl.building.Owner == $user.LoginName">
            {{ $user.LoginName }}
        </option>
    </select>
</div>

<div class="edit-project-button h-align-right">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="$ctrl.doUpdate()" value="Save">
        Save
    </button>
</div>