<h1>Project Info</h1>

<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> > <a ui-sref="buildings">Building directory</a>
</div>
<h2>Project {{$ctrl.project.ProjectID  }}</h2>
<h4>Project Name: {{ $ctrl.project.Name }}</h4>
<tbody>

<p>Name: {{ $ctrl.project.Name }}</p>
<p>Status: {{$ctrl.project.Status}}</p>
<p>Start Date: {{$ctrl.project.StartDate | date : 'medium'}}</p>
<p>End Date: {{$ctrl.project.EndDate | date : 'medium'}}</p>
<p>Building ID: {{$ctrl.project.BuildingID}}</p>
<p>Contact Person: {{$ctrl.project.ContactPerson}}</p>
<p>Project Manager: {{$ctrl.project.ProjectManager}}</p>
<p>Contractors: {{$ctrl.project.Contractor}}</p>



<!--<p>Project ID: {{$Project.Works}}</p>-->
<!--<p>Project ID: {{$Project.Comments}}</p>-->