<h1>Projects</h1>

<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> <a ui-sref="buildings">Building directory</a>
</div>

<h2>List of Projects</h2>

<table>
    <thead>
    <tr>
        <th>Project ID</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>BuildingID</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class="mdl-data-table__cell--non-numeric">Contact</th>
        <th class="mdl-data-table__cell--non-numeric">Project Manager</th>
        <th class="mdl-data-table__cell--non-numeric">Contractor</th>
        <th class="mdl-data-table__cell--non-numeric">Comments</th>
        </tr>
    </thead>

    <tbody>
        <td>{{$Project.ID}}</td>
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.Name}}</td>
        <td>{{$Project.BuildingID}}</td>
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.Status}}</td>
        <td>{{$Project.StartDate}}</td>
        <td>{{$Project.EndDate}}</td>
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.ContactPerson}}</td>
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.ProjectManager}}</td>
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.Contractor}}</td>
        <!--<td>{{$Project.Works}}</td>-->
        <td class="mdl-data-table__cell--non-numeric wrap">{{$Project.Comments}}</td>
    </tbody>
</table>