<h1>Buildings Page</h1>
<p>List of buildings</p>
<table>
    <thead>
        <tr>
            <td>Building ID</td>
            <td>Owner</td>
            <td>Address</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="$building in $ctrl.buildings">
            <td>{{ $building.ID }}</td>
            <td>{{ $building.Owner }}</td>
            <td>{{ $building.Address }}</td>
            <td><a ui-sref="buildingInfo({ id: $building.ID })">View building information</a></td>
        </tr>
    </tbody>
</table>