<h1>Building directory</h1>
<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> > <a ui-sref="buildings">Building directory</a>
</div>
<h6>Select the building you would like to view or modify below. Or click 'New building' to create a new building</h6>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp h-full-width">
    <thead>
        <tr>
            <th>Building ID</th>
            <th class="mdl-data-table__cell--non-numeric">Owner</th>
            <th class="mdl-data-table__cell--non-numeric">Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="$building in $ctrl.buildings">
            <td>{{ $building.ID }}</td>
            <td class="mdl-data-table__cell--non-numeric wrap">{{ $building.Owner }}</td>
            <td class="mdl-data-table__cell--non-numeric wrap">{{ $building.Address }}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <button ui-sref="buildingInfo.view({ id: $building.ID })" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="h-align-right h-padding-top">
    <button ui-sref="buildingInfo.edit({id : 'new'})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        New Building
    </button>
</div>