<h1>Buildings Page</h1>
<a ui-sref="home">Home</a>
<p>List of buildings</p>
<table>
    <thead>
        <tr>
            <td>Building ID</td>
            <td>Owner</td>
            <td>Address</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="$building in $ctrl.buildings">
            <td>{{ $building.ID }}</td>
            <td>{{ $building.Owner }}</td>
            <td>{{ $building.Address }}</td>
            <td><a ui-sref="buildingInfo.view({ id: $building.ID })">View building information</a></td>
        </tr>
    </tbody>
</table>
<div class="h-align-right h-padding">
    <button ui-sref="buildingInfo.edit({id : 'new'})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        New Building
    </button>
</div>