<h1>Project Info</h1>
<div class="breadcrumb-container">
    <a ui-sref="home">Home</a> >
    <a ui-sref="buildings.directory">Building directory</a> >
    <a ui-sref="buildings.view({ buildingId: $ctrl.project.BuildingID })">Building {{ $ctrl.project.BuildingID }}</a> >
    <a ui-sref="buildings.projects.directory({buildingId: $ctrl.project.BuildingID})">Project Directory</a> >
    <a ui-sref="buildings.projects.view({ projectId: $ctrl.project.ProjectID })">Project {{ $ctrl.project.ProjectID }}</a>
</div>

<h2>Project {{$ctrl.project.ProjectID  }}</h2>
<h4>Project Name: {{ $ctrl.project.Name }}</h4>

<p>Name: {{ $ctrl.project.Name }}</p>
<p>Status: {{$ctrl.project.Status}}</p>
<p>Start Date: {{$ctrl.project.StartDate | date : 'medium'}}</p>
<p>End Date: {{$ctrl.project.EndDate | date : 'medium'}}</p>
<p>Building ID: {{$ctrl.project.BuildingID}}</p>
<p>Contact Person: {{$ctrl.project.ContactPerson}}</p>
<p>Project Manager: {{$ctrl.project.ProjectManager}}</p>
<p>Contractors: {{$ctrl.project.Contractor}}</p>

<div class="h-align-right">
    <button ng-disabled="$ctrl.project.Status != 'closed'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="$ctrl.doArchive()">Archive Project</button>
    <button ui-sref="buildings.projects.edit({projectId: $ctrl.project.ProjectID})" ng-disabled="$ctrl.hasEditAccess()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit Project</button>
</div>

<div>
    <h4>Works</h4>
    <!-- {"TypeOfWork": "scaffolding", "Status": "done"} -->

    <!--<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp h-full-width">
        <thead>
        <tr>
            <th>Type</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="$work in $ctrl.works | orderBy:'+Type'">
            <td>{{ $work.TypeOfWork }}</td>
            <td>{{ $work.Status }}</td>
            <td>
                <button ui-sref="buildings.projects.view({projectId: $project.ProjectID})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Edit
                </button>
            </td>
        </tr>
        <tr ng-if="!$ctrl.works.length">
            <td colspan="5" class="h-center">
                <span>No work found</span>
            </td>
        </tr>
        </tbody>
    </table>-->



    <h5>Todo</h5>
</div>

<div>
    <h4>Comments:</h4>
    <div class="comment-box" ng-repeat="$comment in $ctrl.project.Comments">
        <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ $comment.Author | limitTo: 1 }}</span>
            <span class="mdl-chip__text">{{ $comment.Author }}</span>
        </span>
        <p class="comment-text">{{ $comment.Text }}</p>

    </div>
    <div class="mdl-textfield mdl-js-textfield comment-textarea">
        <textarea class="mdl-textfield__input" type="text" rows="10" id="comment-textarea" ng-model="$ctrl.comment"></textarea>
        <label class="mdl-textfield__label" for="comment-textarea">Enter your comment here</label>
    </div>
    <div class="comment-button-container">
        <button ng-disabled="!$ctrl.comment" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="$ctrl.doComment()">Comment</button>
    </div>
</div>