<h1>{{ $ctrl.isNew ? 'New building' : 'Edit building'}}</h1>
<div class="h-field-container">
    <form ng-submit="$ctrl.save()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="owner" ng-model="$ctrl.building.Owner">
            <label class="mdl-textfield__label" for="owner">Owner</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="address" ng-model="$ctrl.building.Address">
            <label class="mdl-textfield__label" for="address">address</label>
        </div>
        <div class="h-align-right h-padding">
            <button type="button" ng-if="$ctrl.isNew" ui-sref="buildings" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Cancel
            </button>
            <button type="button" ng-if="!$ctrl.isNew" ui-sref="buildingInfo.view({id: $ctrl.building.ID})" ui-sref-opts="{reload:true}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Cancel
            </button>
            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
        </div>
    </form>
</div>